---
import Base from "@/templates/Base.astro";
const title = "About me";
const description = "About me page";
const pageTitle = "page Title";
---

<Base head={{ title, description }}>
  <a href="/">Home</a>
  <a href="/about/">About</a>

  <a href="/blog/">Blog</a>
  <h1>{pageTitle}</h1>

  <h2>... and my new Astro site!</h2>

  <p>
    I am working through Astro's introductory tutorial. This is the second page
    on my website, and it's the first one I built myself!
  </p>
  <p>
    This site will update as I complete more of the tutorial, so keep checking
    back and see how my journey is going!
  </p>
</Base>
